 
/*layout*/
 navbar{
     width:100%;
     height:10vh;
     display:flex;
     background:green;
}
 flex_container{
     width:98%;
     min-height:85vh;
     display:flex;
     background:red;
}
 .box{
     position:relative;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
 col1 {
     background-color: blue;
     width:30vw;
}
 col2 {
     position:relative;
     background-color: navy;
     flex-wrap: wrap;
     justify-content: space-between;
     width:70vw;
     height:100%;
}
 @media screen and (orientation:portrait) {
     .container {
        flex-direction:column;
    }
}
/*card */
 .agenda_card{
     width: 90%;
    /* Set width of cards */
}
 .card {
     display: flex;
    /* Children use Flexbox */
     flex-direction: column;
    /* Rotate Axis */
     border: 1vmin solid #EF9A9A;
    /* Set up Border */
     border-radius: 5%;
    /* Slightly Curve edges */
     overflow: hidden;
    /* Fixes the corners */
     overflow-x: hidden;
     overflow-y: auto;
     height:80vh;
}
 .card-header {
     color: #D32F2F;
     text-align: center;
     font-size: 12px;
     font-weight: 600;
     border-bottom: 1vmin solid #EF9A9A;
     background-color: #FFEBEE;
     padding: 1vmin 1vmin;
}
 .card-main {
     display: flex;
    /* Children use Flexbox */
     flex-direction: column;
    /* Rotate Axis to Vertical */
     justify-content: center;
    /* Group Children in Center */
     align-items: left;
    /* Group Children in Center (on cross axis) */
     padding: 1vmin 0;
    /* Add padding to the top/bottom */
}
 .card_row{
     background:white;
     border: 1vmin solid green;
     padding: 1vmin 1vmin;
     display: flex;
     flex-direction: row;
     height:5vh;
     justify-content: space-between;
}
 .card_title{
    width:95%;
     padding: 1vmin 1vmin;
     height:6vh;
     margin-left:1vmin;
     border-radius: 1.2vmin ;
}
 .input_row{
     height:2vh;
}
 .input_text{
    width:80%;
     border-radius: 1vmin 0 0 1vmin ;
}
 .input_minuts{
    width:5%;
     background:orange;
}
 .add_row{
     background:black;
     border-radius: 0 1vmin 1vmin 0;
}
/*card*/
/*https://css-tricks.com/boxes-fill-height-dont-squish
/*/
/*layout*/
/* clock timer block*/
 .clock_container {
    /* display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width:90%;
     height:auto;
     aspect-ratio: 1 / 1.2 ;
     flex-direction: column;
     justify-content: flex-start ;
     margin-left:1vh;
     margin-top:1vh;
     color:white;
     font-size: 2.5vmin;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
    */
	position:relative;
     width:90%;
     height:auto;

     flex-direction: column;
     justify-content: flex-start ;
   
     color:white;
     font-size: 2.5vmin;
}
/* clock timer end block*/
